body{
  margin:0;
  font-family:sans-serif;
  background:#fafafa;
}

/* HEADER */
.header{
  padding:10px;
  font-weight:bold;
  font-size:20px;
  border-bottom:1px solid #ddd;
}

/* STORIES */
.stories{
  display:flex;
  overflow-x:auto;
  padding:10px;
}

.story{
  text-align:center;
  margin-right:10px;
}

.story img{
  width:60px;
  height:60px;
  border-radius:50%;
  border:2px solid hotpink;
}

/* POSTS */
.post{
  background:white;
  margin-bottom:10px;
}

.post-header{
  display:flex;
  align-items:center;
  padding:10px;
}

.post-header img{
  width:35px;
  height:35px;
  border-radius:50%;
  margin-right:10px;
}

.post img.main{
  width:100%;
}

.actions{
  padding:10px;
  font-size:20px;
}

.caption{
  padding:0 10px 10px;
}

.comments{
  padding:0 10px;
  font-size:14px;
}

.comment-box{
  display:flex;
  border-top:1px solid #eee;
}

.comment-box input{
  flex:1;
  border:none;
  padding:10px;
}

.comment-box button{
  border:none;
  background:none;
  color:blue;
}

/* NAV */
.nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:white;
  padding:10px;
  border-top:1px solid #ddd;
}

/* REELS */
#reelsPage{
  display:none;
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.reel{
  height:100vh;
  scroll-snap-align:start;
  background:black;
}

.reel video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* STORY VIEW */
#storyViewer{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
}
.page{
  display:none;
}

.page.active{
  display:block;
}

#storyViewer img{
  width:100%;
  height:100%;
  object-fit:cover;
}
